[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}

.icon-mail:before {
	content: "\e601";
}

.icon-finance:before {
	content: "\e602";
}

.icon-sales:before {
	content: "\e603";
}

.icon-magic:before {
	content: "\e604";
}

.icon-partnerships:before {
	content: "\e605";
}

.icon-innovations:before {
	content: "\e606";
}

.icon-setting:before {
	content: "\e607";
}

.icon-global:before {
	content: "\e608";
}

.icon-menu:before {
	content: "\e609";
}

.icon-notification:before {
	content: "\e60a";
}

.icon-back:before {
	content: "\e60b";
}

.icon-sight:before {
	content: "\e60c";
}

.icon-marketing:before {
	content: "\e60d";
}

.icon-operations:before {
	content: "\e60e";
}

.icon-it:before {
	content: "\e60f";
}

.icon-logistics:before {
	content: "\e610";
}

.icon-logout:before {
	content: "\e611";
}

.icon-strategy:before {
	content: "\e612";
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-facebook:before {
  content: "\ea8d";
}

.icon-linkedin:before {
  content: "\eac8";
}

.icon-plant:before{
  content: "\e613"
}