.snackbar {
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #FFF;
	background-color: #323232;
	border-radius: 2px;
	padding: 0 24px;
	min-height: 48px;
	line-height: 48px;
	min-width: 288px;
	max-width: 370px;
	position: fixed;
	z-index: 40;
	bottom: 24px;
	margin-left: 24px;
	left: -10000px;
	opacity: 0;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
	transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.snackbar-visible {
	left: 0;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.snackbar-message {
	display: inline-block;
	float: left;
	max-width: 214px;
	min-height: 48px;
	padding: 12px 0;
	line-height: 22px;
}

.snackbar-action {
	color: #FF4081;
	float: right;
	background-color: rgba(0, 0, 0, 0);
	font-size: 14px;
	letter-spacing: 0;
	text-transform: uppercase;
	font-weight: 500;
	overflow: hidden;
	line-height: 36px;
	min-width: 88px;
	max-width: 100px;
	text-align: center;
	margin: 6px -18px 6px 0;
	cursor: pointer;
	
	&:active {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

@media (max-width: 370px) {
	.snackbar {
		bottom: 0;
		margin-left: 0;
		border-radius: 0;
		right: 0;
	}

	.snackbar-message {
		max-width: inherit;
		width: calc(100% - 86px);
	}
}